In [1]:
#Q1. Create one variable containing following type of data:
s = "sudh"
l = [2,3,4,5,6,"pwskills"]
num = 3.4
mytuple = ("apple", "banana", "cherry")

In [4]:
type(s)

str

In [5]:
type(l)

list

In [6]:
type(num)

float

In [7]:
type(mytuple)

tuple

In [8]:
#Q2. Given are some following variables containing data:
var1=''
type(var1)

str

In [11]:
var3 = [ 'DS' , 'ML' , 'Python']
type(var3)

list

In [13]:
var4 = 1.
type(var4)

float

In [14]:
#Q3. Explain the use of the following operators using an example:
5/4

1.25

In [15]:
5%4

1

In [16]:
5//4

1

In [17]:
2**3

8

In [18]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
l = [2,3,4.4, "pwskills", "True", 'a', 454, True , False,"ashish"]
for i in l:
    print(i)

2
3
4.4
pwskills
True
a
454
True
False
ashish

In [ ]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
#times it can be divisible.

please esplain this

In [19]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
#divisible by 3 or not.

l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in l:
    if i%3 == 0:
        print(i)
    else:
        print("Not Divisible")

Not Divisible
Not Divisible
3
Not Divisible
Not Divisible
6
Not Divisible
Not Divisible
9
Not Divisible
Not Divisible
12
Not Divisible
Not Divisible
15
Not Divisible
Not Divisible
18
Not Divisible
Not Divisible
21
Not Divisible
Not Divisible
24
Not Divisible